<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/stylesAdmin.css">
</head>

<body>
    <header>
        <h1>Panel de Administración</h1>
        <form action="/logout" method="POST" style="display: inline;">
            <button type="submit" class="logout-button">Cerrar sesión</button>
        </form>
    </header>
    <main>
        <h2>Bienvenido al Panel de Administración, <%= username %>!</h2>
        <p>Aquí puedes gestionar los recursos, usuarios y más.</p>
    </main>
</body>

</html>