<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Recursos</title>
    <link rel="stylesheet" href="/styleForm.css">
</head>
<body>
    <header>
        <h1>Editar Recursos</h1>
    </header>
    <main>
        
        <form action="/recursos/<%= recursos.recursos_id %>?_method=PUT" method="POST">
            <h2>Edita el recurs</h2>
            <label for="name">Nom del recurs:</label>
            <input type="text" id="name" name="name" value="<%= recursos.name %>" required>
            <br>
            <label for="description">Descripció:</label>
            <textarea id="description" name="description" required><%= recursos.description %></textarea>
            <br>
            <button type="submit">Guardar canvis</button>
        </form>
        <a href="/recursos" class="back-button">Tornar a Recursos</a>
    </main>
</body>
</html>