<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestió de Recursos</title>
    <link rel="stylesheet" href="/stylesHome.css">
</head>

<body>
    <header>
        <h1>Gestió de Recursos</h1>
    </header>
    <main>
        <h2>Benvingut a la Gestió de Recursos</h2>
        <p>Selecciona una opció del menú per començar</p>
    </main>
    <nav>
        <a href="/recursos">Recursos</a>
        <a href="/reserves">Reserves</a>
        <a href="/usuaris">Usuaris</a>
        <a href="/notificacions">Notificacions</a>
    </nav>
</body>

</html>