<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and registration</title>
    <style>
        @media (max-width: 768px) {

            /* Per a pantalles petites */
            .form-container h2 {
                font-size: 1.2em;
                /* Redueix la mida de la lletra */
                margin-bottom: 10px;
            }

            label {
                display: block;
                /* Assegura't que els labels es mostren */
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                /* Inputs ocupen tot l'ample del contenidor */
            }
        }

        /* Estils globals */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;

        }

        h2 {
            font-size: 1.8em;
            color: #444;
            margin-bottom: 20px;
        }

        /* Estils per als formularis */
        .form-container {
            margin-bottom: 20px;
            height: 295px;
        }

        label {
            display: block;
            font-size: 0.9em;
            margin-bottom: 5px;
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.9em;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        span {
            display: block;
            margin-top: 10px;
            font-size: 0.9em;
            color: #666;
        }

        /* Botó de tancar sessió */
        #close-session {
            background-color: #dc3545;
        }

        #close-session:hover {
            background-color: #a71d2a;
        }

        /* Missatges d'estat */
        #login-form span,
        #register-form span {
            font-size: 0.9em;
            margin-top: 5px;
        }

        #login-form span.success,
        #register-form span.success {
            color: green;
        }

        #login-form span.error,
        #register-form span.error {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <% if (typeof username!='undefined' ) { %>
            <div class="form-container">
                <h2>Hola <%=username%>!</h2>
                <p>Estas en el panel de admin</p>
                <button id="close-session">Cerrar sesión</button>
            </div>
        <% } %>

        <% if (typeof username==='undefined' ) { %>
            <div class="form-container">
                <form id="login-form">
                    <h2>Login</h2>
                    <label for="login-username">Username:</label>
                    <input type="text" id="login-username" name="username" required>

                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" name="password" required>

                    <button type="submit">Login</button>
                    <span>&nbsp;</span>
                </form>
            </div>

            <div class="form-container">
                <form id="register-form">
                    <h2>Register</h2>
                    <label for="register-username">Username:</label>
                    <input type="text" id="register-username" name="username" required>

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password" required>

                    <label for="register-confirm-password">Password</label>
                    <input type="password" id="register-confirm-password" name="confirm-password" required>

                    <button type="submit">Register</button>
                    <span>&nbsp;</span>
                </form>
            </div>
            <% } %>
    </div>

    <script>
        const $ = el => document.querySelector(el);
        const loginForm = $('#login-form')
        const loginSpan = $('#login-form span')

        const registerForm = $('#register-form')
        const registerSpan = $('#register-form span')

        const logoutButton = $('#close-session')


        loginForm?.addEventListener('submit', e => {
            e.preventDefault()
            const username = $('#login-username').value
            const password = $('#login-password').value

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
                .then(res => {
                    if (res.ok) {
                        loginSpan.innerText = 'Session iniciada ..Entrando..'
                        loginSpan.style.color = 'green'
                        setTimeout(() => {
                            window.location.href = '/protected'
                        }, 2000)
                    } else {
                        loginSpan.innerText = 'Error al iniciar session'
                        loginSpan.style.color = 'red'
                    }
                })
        });

        registerForm?.addEventListener('submit', e => {
            e.preventDefault()
            const username = $('#register-username').value
            const password = $('#register-password').value
            const confirmPassword = $('#register-confirm-password').value

            if (password != confirmPassword) {
                alert('Passwords do not match')
                return
            }

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
                .then(res => {
                    console.log(res)
                    if (res.ok) {
                        registerSpan.innerText = 'Usuario registrado. ..Entrando..'
                        registerSpan.style.color = 'green'
                        setTimeout(() => {
                            window.location.href = '/protected'
                        }, 2000)
                    } else {
                        registerSpan.innerText = 'Error al registrar usuari'
                        registerSpan.style.color = 'red'
                    }
                })
        });

        logoutButton?.addEventListener('click', e => {
            e.preventDefault()
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => {
                    console.log(res)
                    window.location.href = '/'
                })
        });
    </script>
</body>

</html>